{%extends 'main.html' %}


{%block title %} DZ-Mouhami - Annuaire des Avocats Algériens {%endblock title%}

{%block content %}

    <section class="welcome-section">
        <h1>Bienvenue sur DZ-Mouhami</h1>
        <p>Votre guide pour trouver des avocats qualifiés en Algérie.</p>
        <div style="margin-bottom: 15px; text-align: center;">
          <a href="{% url 'createAvovatProfile' %}" style="display: inline-block; padding: 15px 30px; background-color: #007bff; color: #fff; text-decoration: none; font-size: 18px; font-weight: bold; border-radius: 8px; transition: background-color 0.3s ease;">
              Create Avocat Profile
          </a>
      </div>
      
         <style>
            form {
                
                width: 80%; /* Adjust width as needed */
                margin: 40px auto 20px auto  ; /* Center the form */
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
              }
              

         </style>
         <form action="{% url 'home' %}" method="get" style=" text-align: center;">
          <div style="display: flex; gap: 15px; justify-content: center; flex-direction:row;">
              <div style="display: flex; gap: 15px; align-items: center;">
                  <label for="name" style="font-weight: bold;">Name:</label>
                  <input type="text" id="name" name="name" value="{{ request.GET.name }}" style="padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
              </div>
      
              <div style="display: flex; gap: 15px; align-items: center;">
                <h1></h1>
                  <label for="specialite" style="font-weight: bold;">Specialization:</label>
                  <input type="text" id="specialite" name="specialite" value="{{ request.GET.specialite }}" style="padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
              </div>
      
              <div style="display: flex; gap: 15px; align-items: center;">
                  <label for="location" style="font-weight: bold;">Location:</label>
                  <input type="text" id="location" name="location" value="{{ request.GET.location }}" style="padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
              </div>
      
              <div style="width: 20%; text-align: center;">
                  <button type="submit" style="padding: 12px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Search</button>
              </div>
          </div>
      </form>
      
        
          
    </section>
    <section class="lawyer-profiles">
        <h2>Avocats en Vedette</h2>

        <div class="profiles-container">
            <!-- Profil Avocat 1 -->
            {%for avocat in avocats%}
            <div class="profile-card">
                <img src="avatar.webp" alt="{{avocat.firstName}}">
                <h3>{{avocat.firstName}}{{avocat.lastName}}</h3>
                <p>Spécialité: {%for spec in avocat.specialitees.all %} {{spec.title}} {%endfor%} </p>
                <p>Expérience: {{avocat.experienceWork}}</p>
                <p>Langues: {%for langue in avocat.langues.all %} {{langue.langue}} {%endfor%} </p>
                <div class="rating">
                    <span>Évaluation: ★★★★☆</span>
                </div>
                <a href="{% url 'profile' avocat.id %}" class="profile-link">Voir Profil</a>
                <a href="#" class="appointment-link">Prendre Rendez-vous</a>
            </div>       
            {%endfor%}    
        </div>
    </section>
{%endblock content %}