<header>
    <nav>
        <ul>
            <li><a href="{%url 'home' %}">Accueil</a></li>
            <li><a href="#">Trouver un Avocat</a></li>
            <li><a href="#">Prendre Rendez-vous</a></li>
            <li><a href="#">Contact</a></li>
            {%if request.user.is_authenticated %}
            <li><a href="{%url 'logout' %}">Logout</a></li>
            {%else%}
            <li><a href="{%url 'login' %}">Login</a></li>
            {%endif%}
            
            <!-- <li><a href="{%url 'signup' %}">Signup</a></li> -->
        </ul>
    </nav>
</header>